/* ページタイトル部分と第一セクションがかぶるので、ページタイトルの次に来るセクションは
padding-top:100px;
を追加で当ててください（波線部分が100pxなので）
margin-top だと背景色が崩れます。
*/

body{
    text-align: center;
    height: auto;
    /* padding: 0 20px; */
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}



/* h1 */
.pagetitle{
    font-size: 2.5rem;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke: 2px #30ADD1;
    margin-top: 60px;
    position: relative;
    z-index: 3;
}
@media screen and (min-width: 600px ) and (max-width: 768px) {
    .pagetitle{
        margin-top: 80px;
    }
}
.pagetitle::before{
    content: url(../images/svg/fishing_fish_icon_194904.svg);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 105%;
    color: #30ADD1;
}
.pagetitle::after {
    border-bottom: 10px dashed #30ADD1;
    content: '';
    width: 50vw;
    height: 4px;
    display: inline-block;
    position: absolute;
    bottom: -15px;
    left: -50%;
}

.section__title{
    font-size: 2rem;
    position: relative;
    font-weight: 700;
    color: #fff;
    -webkit-text-stroke: 2px #30ADD1;
}
.section__title::after{
    border-bottom: 10px dashed #000000;
    content: '';
    width: 60vw;
    height: 4px;
    display: inline-block;
    position: absolute;
    bottom: -15px;
    left: -160%
}




/* カード */
.card{
    width: 320px;
    height: 426px;
    background-color: #EAF2FA;
}
.card__img{
    width: 320px;
    height: 240px;
}
.card__title{
    font-size: 1.5rem;
    font-weight: 400;
}
.card__discription{
    color: #51656F;
}

/* ヘッダー */
.header{
    background-color: #fff;
    justify-content: end;
    width: 100vw;
    height: 100px;
    position: fixed;
    z-index: 20;
}
.header__box--group{
    content: "";
    display: inline-block;
    width: 100vw;
    height: 100px;
    /* background-color: #ffffff; */
    position: fixed;
    z-index: 5;
}
@media screen and (min-width: 1080px){
    .header__box--group {
        display: none;
    }
}
.header__box--border {
    height: 30px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 40, from(#ffffff), color-stop(0.5, #ffffff), color-stop(0.51, #ffffff),color-stop(0.52, rgba(0,0,0,0)), to(rgba(0,0,0,0)));
    -webkit-background-size: 49px 100%;
    position: fixed;
    top: 100px;
    z-index: 10;
}

/* ハンバーガーメニュー */
.hamburger {
    position: fixed;
    cursor: pointer;
    width: 60px;
    height: 60px;
    top: 20px;
    right: 20px;
    z-index: 20;
}
.hamburger span {
    display: inline-block;
    transition: all .4s;
    /*アニメーションの設定*/
    position: absolute;
    left: 0x;
    height: 2px;
    border-radius: 5px;
    background: #51656F;
    width: 60px;
    height: 8px;
}
.hamburger span:nth-of-type(1) {
    top: 0px;
}
.hamburger span:nth-of-type(2) {
    top: 15px;
}
.hamburger span:nth-of-type(3) {
    top: 30px;
}
.hamburger span:nth-of-type(3)::after {
    content: "Menu";
    /*3つ目の要素のafterにMenu表示を指定*/
    position: absolute;
    top: 15px;
    left: 12px;
    color: #51656F;
    font-size: 0.8rem;
    text-transform: uppercase;
}

/*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/
.hamburger.active span:nth-of-type(1) {
    top: 0px;
    left: 0px;
    transform-origin: right;
    transform: rotate(-45deg);
    width: 50px;
}
.hamburger.active span:nth-of-type(2) {
    opacity: 0;
}
.hamburger.active span:nth-of-type(3) {
    top: 35px;
    left: 0px;
    transform: rotate(45deg);
    transform-origin: right;
    width: 50px;
}
.hamburger.active span:nth-of-type(3)::after {
    content: "Close";
    /*3つ目の要素のafterにClose表示を指定*/
    transform: translateY(0) rotate(-45deg);
    top: 20px;
    left: 25px;
    letter-spacing: 0.5px;
}
@media screen and (min-width: 1080px)  {
    .hamburger,.hamburger span {
    display: none;
    z-index: -1;
    }
}


.g-nav{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100vw);
    transition: all .3s linear;
    padding-top: 150px;
    overflow: scroll;
}

.logo__img,.header__logo{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 5;
    width: 250px;
    height: 60px;
}

.g-nav__slide{
    background: #30ADD1;
    transform: translateX(0);
}

.g-nav__box{
    background-color: #fff;
    margin-top: 60px;
}
.g-nav__box--section{
    margin: 20px;
}
.g-nav__box--group{
    display: inline-block;
margin-left: 20px;
}
.g-nav__box--discription{
    display:inline-block;
    margin-top: 20px;
}
.g-nav__box--img{
    border-radius: 50%;
    width: 136px;
    height: 136px;
}
@media screen and (min-width: 1080px) {
.g-nav {
        width: 90vw;
        transform: translateX(0);
        height: 100px;
        top: 30px;
        padding: 0;
        margin: 0;
        overflow: visible;
        position: static;
        flex-direction: row;
        justify-content: flex-end;
    }
    .header__box {
        width: 100vw;
    }
    .g-nav__box {
        margin-top:0 ;
        display: flex;
        text-align: end;
        background-color: rgba(0,0,0,0);
    }
    .g-nav__box--section {
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    .g-nav__box--group {
        display: inline-block;
        margin-left: 20px;
        width:100px;
        height: 100px;
    }
    .g-nav__box--discription {
        display: inline-block;
        margin-top: 20px;
    }
    .g-nav__box--img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    .g-nav__box--text{
        font: size 1px;;
    }


}

.g-nav__link{
flex-flow: column;
justify-content: start;
}
.g-nav__link--text{
    display: inline-block;
    text-align: start;
    color: #fff;
    margin-bottom: 16px;
    position: relative;
}

.g-nav__link--text::before {
    content: "";
    display: block;
    width: 200px;
    height: 0;
    border-bottom: 1px solid #fff;
    position: absolute;
    bottom:-5px;
    left: 0px;
}
@media screen and (min-width: 600px){

    .g-nav__link {
    display: none;
    }
    .g-nav__link--text {
    display: none;
    position: static;
    }

    .g-nav__link--text::before {
    position: static;
    display: none;
}
}

/* メイン */
/* キービジュアル */
.keyvisual{
    width: 100vw;
    height: 300px;
    object-fit: cover;
    background-color: #888;
}
.titlesection{
    width: 100vw;
        height: 140px;
        background-image: url(../images/svg/wave-section1\ .svg);
        background-repeat: repeat-x;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
        padding-bottom: 100px;
}

.titlesection__block{
    justify-content: center;
        align-items: flex-end;
}
.background__img{
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
}
.shellfish1{
    top: 10%;
    left:10%;
    z-index: 3;
}
.shellfish2{
    top: 15%;
    right: 35%;
}
.shellfish3{
    top: 50%;
    right: 10%;
    z-index: 3;
}


.firstsection{
    background-color: #EAF2FA;
    padding-top: 100px;
}

.titlesection__block--group {
    justify-content: center;
    align-items: flex-end;
}













/* フッター */
.footer{
    background-color: #30ADD1;
}
.footer__box{
    padding: 45px 0 0 0;
    margin-bottom: 70px;
    justify-content: space-around;
}
.footer__box>ul>li{
    margin: 10px 0;
}
.sns{
justify-content: center;
}
.sns li{
    margin: 30px;
}
/* ul>li::before{

} */


.copylight{
    padding-bottom: 20px;
}

.flex {
    display: flex;
}

.none{
    display:none;
}
/* ボタンレイアウト基礎 */
.btn {
    display: flex;
    width: 160px;
    height: 80px;
    background-color: #FFEA20;
    font-size: 1.5rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: #000000;
}

/* 詳細情報table */
.spotinfo__table,tr,th,td{
    padding: 10px;
}

.spotinfo__table{
    width: 100%;
    background-color: #EAF2FA;
    margin: 0 auto;
}

.spotinfo__table--title{
    width: 100%;
    font-size: 24px;
    color: #fff;
    background-color: #30ADD1;
    column-span: all;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
    padding: 10px 0;
}

tr:not(:last-child){
    border-bottom:solid 2px #30ADD1;
}

.spotinfo__table--subtitle{
    border-right: solid 2px #30ADD1;
}

tr:nth-child(odd) {
    background-color:  #fff;
}

.radius-table{
    border-radius: 20px;
}

.radius-table tr:last-child>*:first-child{
    border-radius: 0 0 0 20px;
}
.radius-table tr:last-child>*:last-child{
    border-radius: 0 0 20px 0;
}

@media screen and (min-width: 600px){
    .spotinfo__table{
        width: 559px;
    }
    .spotinfo__table--title{
        width: 559px;
    }
}
