@charset "utf-8";

/* 文字左寄せ */
.evacuation__section p {
    text-align: left;
    margin-bottom: 20px;
}

/* サブビジュアル */
.sub-keyvisual {
    background-image: url(../images/other_keyvisual_sp.jpg);
    max-height: 400px;
    object-fit: cover;
    background-repeat: no-repeat;
    height: 400px;
}

@media screen and (min-width: 600px) {
    .sub-keyvisual {
        background-image: url(../images/other_keyvisual.jpg);
    }

}

/* 注意点赤文字 */
.evacuation__box--warning {
    color: #cf2e2e;
}

/* 背景色の指定 */

/* 浅瀬背景色 */
.shallow {
    background-color: #EAF2FA;
}

/* 背景を付けるために、h1からh2までのmarginをなくし、セクションにpaddingをつける */
.section__box--title {
    margin: 0 auto 50px;
}

.evacuation__section {
    padding-top: 100px;
}

/* フッターまでの余白 */
.firstsection__bottom {
    height: 100px;
    margin-bottom: 60px;
    background-position: bottom center;
}



/* モジュールパーツルール */

/* 地図 */
.map {
    padding-top: 50px;
}

iframe {
    width: 100%;
    aspect-ratio: 16/9;
}
