@charset "utf-8";er

.evacuation__section{
    padding-top: 20px;
}

/* 文字左寄せ */
.evacuation__section p {
    text-align: left;
}

.evacuation__section p:nth-of-type(2) {
    padding-bottom: 30px;
}

/* サブビジュアル */
.keyvisual {
    background-image: url(../images/other_keyvisual_sp.jpg);
    max-width: 100vw;
    background-position: bottom;
}

@media screen and (min-width: 600px) {
    .keyvisual {
        background-image: url(../images/other_keyvisual.jpg);
        background-size: cover;
        background-position: center;
    }
}

/* 注意点赤文字 */
.warning__text{
    font-size: 20px;
    line-height: normal;
    padding-bottom: 20px;
    color: #cf2e2e;
}

.evacuation__box--warning{
/* padding-left: 40px; */
padding: 5px 0 30px;
line-height: 1.5;
}

.evacuation__box--warning li{
    color: #cf2e2e;
    font-size: 20px;
    text-align: start;
}

/* 背景色の指定 */

/* 浅瀬背景色 */
.shallow {
    background-color: #EAF2FA;
}

/* 背景を付けるために、h1からh2までのmarginをなくし、セクションにpaddingをつける */
.section__box--title {
    margin: 0 auto 50px;
}

.evacuation__section {
    padding-top: 20px;
}

/* フッターまでの余白 */
.firstsection__bottom {
    height: 100px;
    margin-bottom: 60px;
    background-position: bottom center;
}

/* モジュールパーツルール */

/* 地図 */
.map {
    padding-top: 50px;
}

iframe {
    width: 100%;
    aspect-ratio: 16/9;
}
