@charset "utf-8";

body {
    color: #51656F;
}

/* main {
    max-width: 1200px;
    margin: 0 auto;
} */

/* .wrap {
    margin: 0 20px;
} */

img {
    max-width: 100%;
    height: auto;
}

.fishinfo__section {
    padding-top: 100px;
    background-color: #EAF2FA;
}


/* 魚の写真・概要・丸い囲い */

.fishinfo__box--description {
    width: 400px;
    height: 400px;
    border: 10px dashed #30ADD1;
    background-color: #fff;
    border-radius: 50%;
    margin: 50px auto;
    align-items: flex-start;
}

.fishinfo__box--description h3 {
    margin: 40px;
}

.fishinfo__box--description p {
    margin: 0px 30px;
    text-align: left;
}

.fishinfo__box--feed p, img {
    text-align: center;
}

@media screen and (min-width: 1080px) {
    .fishinfo__box li {
        display: inline-block;
        justify-content: center;
    }
}

/* 詳細テーブル */

.fishes__table {
    margin: 40px 0 40px 0;
}

/* おいしい食べ方 */

.fishinfo__box--food img {
    border: 10px solid #fff;
    border-radius: 30px;
    margin: 40px 0 25px 0;
}

.traiangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 27.5px 55px 27.5px;
    border-color: transparent transparent #000 transparent;
    margin: 0 auto;
}

.fishinfo__box--text {
    width: 400px;
    height: auto;
    border-radius: 30px;
    border: 1px solid #000;
    background-color: #fff;
    margin: 0 auto;
}

.fishinfo__box--text h3 {
    font-size: 24px;
    color: #FFFFFF;
    padding: 30px;
    font-style: normal;
    font-weight: 600;
    -webkit-text-stroke: 1px #FF0000;
}

.fishinfo__box--text p {
    text-align: center;
    padding: 50px;
}

@media screen and (min-width: 1080px) {
    /* .fishes__box--description {
    } */

    .fishinfo__box--food {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .traiangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 27.5px 0 27.5px 55px;
        border-color: transparent transparent transparent #000000;
        /* position: absolute;
        top: 80px; */
    }
}


/* 装飾の画像 */

/* 貝 */
.fishesinfo__img--shell {
    display: flex;
    justify-content: center;
    padding: 70px;
    background-color: #EAF2FA;
}

.fishesinfo__img--turtle li {
    padding: 10px;
}

/* ウミガメ */
.fishesinfo__img--turtle {
    display: flex;
    justify-content: center;
    margin: 70px;
}

/* 泡 */
.fishesinfo__foam1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px dashed #fff;
}

.fishesinfo__foam2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px dashed #fff;
    margin-top: 50px;
}

.fishesinfo__img--turtle li {
    transform: rotate(-45deg);
}

/* 保存方法 */


.preservation__box {
    width: 540px;
    height: auto;
    background-color: #fff;
    border-radius: 100px;
    margin: 50px auto;
}

.preservation__box h3 {
    font-size: 24px;
    padding: 35px;
}

.preservation__box p {
    margin: 0 auto;
    padding: 0 50px 40px 50px;
}

/* 注意事項 */

.note__box {
    width: 540px;
    height: auto;
    background-color: #FFEA20;
    border-radius: 60px;
    margin: 50px auto;
}

.note__box h3 {
    font-size: 24px;
    padding: 20px;
    color: red;
}

.note__box p {
    margin: 0 auto;
    padding: 0 50px 40px 50px;
}

@media screen and (min-width: 1080px) {

    /* 注意事項 */

    .note__box {
        width: 900px;
        height: auto;
        margin: 50px auto;
    }

    .preservation__box {
        width: 900px;
        height: auto;
        background-color: #fff;
        border-radius: 100px;
        margin: 50px auto;
    }


}



/* セクションタイトル (h2)*/
.spot__box--title,
.recommend__box--title {
    background-color: #30ADD1;
    border-radius: 30px;
    color: #fff;
    padding: 8px;
    font-size: 24px;
    margin: 100px 0 50px 0;
}

/* カード */
.card {
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    margin: 0 auto 50px;
}

.card__img {
    border-radius: 20px 20px 0 0;
}

/* PC */
@media screen and (min-width: 1080px) {

    .spot__box--list,
    .recommend__box--list {
        display: flex;
        justify-content: center;
    }

    .spot__box--list li,
    .recommend__box--list li {
        margin: 25px;
    }
}

/* slick */
.slider6-wrap {
    width: 460px;
    margin: 0 auto;
    position: relative;
}

.slider-6 .slick-slide {
    height: 345px;
    overflow: hidden;
}

.slider-6 .slick-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbs_dots {
    margin: 10px 0 0;
}

.thumbs_list li {
    display: inline-block;
    width: 80px;
    height: 80px;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.3s;
}

.thumbs_list li.slick-active {
    opacity: 1;
}
