@charset "utf-8";

.imgbox {
    max-width: 559px;
    margin: 0 auto;
}

.shellfish1{
    left: 10%;
}

.tuttokufont{
    text-align: center;
    font-size: 2.5rem;
    width: 300px;
    font-weight: 900;
    color: #30ADD1;
    -webkit-text-stroke: 1px #fff;
    /* padding-top: 45px; */
    overflow: visible;
}

.page__discription {
    font-weight: 700;
    font-size: 24px;
    color: #000;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 50px;
}

.discription__p{
        font-size: 24px;
        color: #000;
        white-space: nowrap;
}

/* メディアクエリ */


.keyvisual {
    background-image: url(../images/img_neko_700_3.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: relative;
}

.bottom__margin {
    margin-bottom: 50px;
}

.titlesection {
    padding: 170px;
    background-image: none;
    background-color: #FFEA20;
    height: 200px;
    margin-top: -160px;
}

.titlesection__box {
    top: -80px;
}

.catchcopy {
    position: absolute;
    top: 50%;
    width: 50%;
}

.titlesection__top {
    background-image: url(../images/svg/wave-indexpage.svg);
    width: 100vw;
    height: 160px;
    background-repeat: repeat-x;
    transform: scale(1, -1);
    position: relative;
    top: -158px;
    z-index: 1;
}

.titlesection__border {
    background-color: #EAF2FA;
    background-image: url(../images/svg/wave-indexpage.svg);
    width: 100vw;
    height: 160px;
    background-repeat: repeat-x;
    transform: scale(-1, 1);
}




.knowledge_img{
    width: 400px;
    height: 4;
    border-radius: 50%;
}

.knowledge__text--block{
    background-color: #30ADD1;
    color: #FFF;
    border-radius:40px;
    margin: 30px auto;
    padding: 30px;
}
.knowledge__text--box{
    color: #ffffff;
}
.last__box{
    margin-bottom: 0px;
}

.knowledge_even{
    flex-direction: row-reverse;
}

@media screen and (min-width: 800px){
    .knowledge__section--flexbox{
        display: flex;
        justify-content: space-around;
    }
    .imgbox{
        margin: 0 50px;
    }
}

.tokushima__imgbox{
    max-width: 1000px;
    margin: 0 auto;
}
.spotsection__box {
    width: 100%;
    height: auto;
    position: relative;
}
.spotlink{

    width: 33vmin;
    height: 33vmin;
    border-radius: 50%;
    background-color: rgba(255, 234, 32, 0.5);
    display: grid;
    place-items: center;
    position: absolute;
}
.eastlink{
    top: 0;
    right: 0;
}
.southlink{
    top: 40vmin;
    right: 20vmin;
}
@media screen {
    .eastlink {
            top: 0;
            right: 0;
        }

        .southlink {
            top: 40vmin;
            right: 20vmin;
        }
}

.spot__bottom{
    background-color: #30ADD1;
}

.plantitle , .fishtitle{
    color: #fff;
    -webkit-text-stroke: 0px;
}

.plansection , .fishsection{
    background-color: #30ADD1;
    /* position: relative; */
    height: auto;
    margin: 0 a;
    padding: 0 20px 50px 20px;
}
.planbottom{
    border-color: #fff;
}
.plansection__block {
    width: 100%px;
    height: 500px;
    position: relative;
    margin: 0 auto;
}





.planimg{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
}
.plan1 > img{
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.plan1 > p {
    color: #FFEA20;
    position: absolute;
    width: 500px;
    height: 500px;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    top: 50px;
    left: 50%;

}
.plan2>img {
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.plan2>p {
    color: #FFEA20;
    position: absolute;
    width: 500px;
    height: 500px;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    top: 50px;
    left: 50%;

}
.plan3>img {
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.plan3>p {
    color: #FFEA20;
    position: absolute;
    width: 500px;
    height: 500px;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    top: 50px;
    left: 50%;

}

.fontrotate{
        animation:fontrotate;
        animation-fill-mode: none;
        /* アニメーションの通常状態 */
        animation-duration: 10s;
        /* 1 回のアニメーションサイクルに要する時間の長さ */
        animation-iteration-count: infinite;
        /* アニメーションの再生回数 */
        animation-timing-function: linear;
        /* アニメーションの種類 */
        animation-delay: 0s;
        /* アニメーションの遅延 */
        animation-direction: normal;
        /* アニメーション再生の向き */
    }
@keyframes fontrotate {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-50%) rotate(360deg);
    }
}


.circle-text > span {
    position: absolute;
    left: calc(50% - 1.5rem);
    display: inline-block;
    width: 2rem;
    height: 300px;
    transform-origin: center 80%;
}

@media screen and (min-width: 600px){

}

.circle-text span:nth-child(1) {
    transform: rotate(-80deg);
}
.circle-text span:nth-child(2) {
    transform: rotate(-70deg);
}
.circle-text span:nth-child(3) {
    transform: rotate(-60deg);
}
.circle-text span:nth-child(4) {
    transform: rotate(-50deg);
}
.circle-text span:nth-child(5) {
    transform: rotate(-40deg);
}
.circle-text span:nth-child(6) {
    transform: rotate(-30deg);
}
.circle-text span:nth-child(7) {
    transform: rotate(-20deg);
}
.circle-text span:nth-child(8) {
    transform: rotate(-10deg);
}
.circle-text span:nth-child(9) {
    transform: rotate(0deg);
}
.circle-text span:nth-child(10) {
    transform: rotate(10deg);
}
.circle-text span:nth-child(11) {
    transform: rotate(20deg);
}
.circle-text span:nth-child(12) {
    transform: rotate(30deg);
}
.circle-text span:nth-child(13) {
    transform: rotate(40deg);
}
.circle-text span:nth-child(14) {
    transform: rotate(50deg);
}
.circle-text span:nth-child(15) {
    transform: rotate(60deg);
}
.circle-text span:nth-child(16) {
    transform: rotate(70deg);
}
.circle-text span:nth-child(17) {
    transform: rotate(80deg);
}


.morelook{
    height: 50px;
    width: 160px;
    margin: 100px auto;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.morelook:hover {
    background-color: #30ADD1;
    color: #ffea20;
    box-shadow: none;
    transform: translate(1px, 1px);
}

.fishsection{
    padding: 0;
}
.fishsection__box{
            white-space: nowrap;
    overflow-x: visible;
}

.fishimgblock{
    max-width: 250px;
    max-height: 250px;
}

.arrow_box {
    position: relative;
    width: 10vmin;
    height: 10vmin;
    background: #FFFFFF;
    padding: 10px;
    text-align: center;
    color: #000000;
    font-size: 0.5rem;
    font-weight: bold;
    border-radius: 50%;
    overflow: visible;
}

.arrow_box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(255, 255, 255, 0);
    border-top-width: 110px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-right-width: 30px;
    border-bottom-color: #FFFFFF;
    bottom: 10%;
    left: 30%;
}


.infomation__block{
    margin-top: 50px;
    border: solid 5px #30ADD1;
    border-radius: 50px;
    padding: 20px;

}
.infomation__border{
    border: #30ADD1 dashed 2px ;
    margin-top: 20px;
    margin-bottom: 10px;
}

.infobtn{
    margin: 30px auto;
}
