@charset "utf-8";



.shellfish1{
    left: 10%;
}

.catchcopy {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 2rem;
    position: absolute;
    background-color: #FFEA20;
    border-radius: 10px;
    padding: 35px 15px;
}
.koresae{
    top: 20%;
    right: 20%;
}
.sakanaga{
    top: 40%;
    right: 30%;
}
@media screen and (max-width: 700px) {
    .catchcopy {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 500px) {
    .catchcopy {
        font-size: 1.2rem;
    }
}

.page__discription {
    font-weight: 700;
    font-size: 24px;
    color: #000;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 50px;
}

.titlesection__box {
    width: 100%;
    transform: translateX() translateY(-40%);
}

.discription__title{
    display: inline-block;
    font-size: 1rem;
    width: 200px;
}

.tuttokufont{
    display: inline-block;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 900;
    color: #30ADD1;
    -webkit-text-stroke: 1px #fff;
    overflow: visible;
}


.discription__p{
    display: inline-block;
    width: 100%;
        font-size: 1.2rem;
        color: #000;
        /* white-space: nowrap; */
}

@media screen and (max-width: 430px) {
    .tuttokufont{
        font-size: 1.5rem;
    }
    .discription__p{
        font-size: 1rem;
    }
}


@media screen and (min-width: 520px) {
    .tuttokufont{
        font-size: 2rem;
    }
    .discription__p{
        font-size: 1.5rem;
    }
}


.keyvisual {
    display: inline-block;
    background-image: url(../images/img_neko_700_3.jpg);
    width: 100vw;
    height: 900px;
    background-size: cover;
    position: relative;
    max-height :900px ;
}

.bottom__margin {
    margin-bottom: 50px;
}

.titlesection {
    font-size: 2rem;
    background-image: none;
    background-color: #FFEA20;
    height: 200px;
    margin-top: -160px;
    position: relative;
}




.titlesection__top {
    background-image: url(../images/svg/wave-indexpage.svg);
    width: 100vw;
    height: 160px;
    background-repeat: repeat-x;
    transform: scale(1, -1);
    position: relative;
    top: -158px;
    z-index: 1;
}

.titlesection__border {
    background-color: #EAF2FA;
    background-image: url(../images/svg/wave-indexpage.svg);
    width: 100vw;
    height: 160px;
    background-repeat: repeat-x;
    transform: scale(-1, 1);
}

.sectiontitle {
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.knowledge_img{
    width: 50vmin;
    height:50vmin ;
    border-radius: 50%;
}

.knowledge__text--block{
    background-color: #30ADD1;
    color: #FFF;
    border-radius:40px;
    margin: 30px auto;
    padding: 30px;
    width: 100%;
}
.knowledge__text--box{
    color: #ffffff;
}
.last__box{
    margin-bottom: 0px;
}

.knowledge_even{
    flex-direction: row-reverse;
}

.knowledge__section{
    padding-top: 0;
}

.knowledge__imgbox {
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.hover-mask {
    align-items: center; /* テキストの中央揃え */
    background: rgba(0, 0, 0, 0.5); /* マスクの色(黒の50%) */
    bottom: 0;
    display: flex; /* テキストの中央揃え */
    height: auto;
    justify-content: center; /* テキストの中央揃え */
    opacity: 0; /* 最初は透明(非表示) */
    left: 0;
    position: absolute;
    right: 0;
    /* top: 0; */
    transition: opacity .6s ease; /* ゆっくりopacityのみへ変化させる */
    width: 100%;
    height: 50vmin;
    outline: 5px dashed rgb(255, 255, 255);
	outline-offset: -10px;
    border-radius: 50%;
}
.hover-mask:hover {
    opacity: 1; /* hoverしたら透過しない(表示させる) */
}
.hover-mask p {
    width: 80%; /* テキストを横幅いっぱいにならないようにする */
    color: #fff; /* テキストの色 */
    font-size: 2rem;
}

@media screen and (min-width: 800px){
    .knowledge__section--flexbox{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .knowledge__imgbox{
        max-width: 400px;
        margin: 50px;
    }
    .knowledge__text--block{
        max-width: 500px;
        max-height: 200px;
        width: 50%;
    }
        .knowledge_img{
        display: inline-block;
        height:50vmin ;
        border-radius: 50%;
    }
    .hover-mask{
        height: 50vmin;
    }
}

.tokushima__imgbox{
    max-width: 1000px;
    margin: 0 auto;
}
.spotsection__box {
    width: 100%;
    height: auto;
    position: relative;
}

.eastsection {
    max-width: 50vmin;
    max-height: 50vmin;
    position: relative;
    top: -250px;
}

.southsection{
    max-width: 50vmin;
    max-height: 50vmin;
    position: relative;
    top: -200px;
}
.spotlink {
    width: 33vmin;
    height: 33vmin;
    border-radius: 50%;
    background-color: rgba(255, 234, 32, 0.5);
    place-items: center;
    position: absolute;
}

.eastland{
    width: 100px;
    height: 30px;
    font-size: 1rem;
    position: absolute;
    left: -100px;
}
.southland{
    width: 100px;
    height: 30px;
    font-size: 1rem;
    position: absolute;
    left: -160px;
    top: 90px;
}

.spotborder{
    width: 75px;
    border: #FFEA20 solid 2px;
    transform: rotate(30deg);
    position: absolute;
}

.eastborder{
    right: -50px;
    top: 30px;
}

.southborder {
    right: 0px;
    top: 130px;
}


.eastcircle{
    top: 0px;
    right: -150px;
}

.southcircle {
    top: 95px;
    right: -100px ;
}
@media screen and (min-width: 450px) {
    .eastsection {
        right: -50px;
        top: -300px;
    }
    
    .southsection{
        top: -250px;
    }
}
@media screen and (min-width: 500px) {
    .eastsection {
        right: -50px;
        top: -350px;
    }
    
    .southsection{
        top: -250px;
        right: -50px;
    }
}

@media screen and (min-width: 550px) {
    .eastsection {
        right: -90px;
        top: -370px;
    }
    
    .southsection{
        top: -250px;
        right: -50px;
    }
}

@media screen and (min-width: 600px) {
    .eastsection {
        right: -90px;
        top: -400px;
    }
    
    .southsection{
        top: -250px;
        right: -50px;
    }
    .eastland{
        left: -140px;
    }
    .southland{
        left: -210px;
        top: 100px;
    }
    .eastborder{
        right: -20px;
        top: 30px;
    }
    .southborder {
        right: 50px;
        top: 130px;
    }
    .eastcircle{
        top: 0px;
        right: -150px;
    }
    
    .southcircle {
        top: 95px;
        right: -100px ;
    }
}
@media screen and (min-width: 700px) {
    .eastsection {
        top: -500px;
        right: -110px;
    }
    
    .southsection{
        top: -300px;
        right: -110px;
    }
    .eastland{
        font-size: 1rem;
        left: -200px;
    }
    .southland{
        width: 100px;
        height: 30px;
        font-size: 1rem;
        left: -250px;
        top: 100px;
    }
    .eastborder{
        right: 30px;
        top: 30px;
    }
    .southborder {
        right: 90px;
        top: 130px;
    }
    .eastcircle{
        top: 0px;
        right: -150px;
    }
    
    .southcircle {
        top: 95px;
        right: -100px ;
    }
}

@media screen and (min-width: 700px) {
    .eastsection {
        top: -500px;
        right: -160px;
    }
    
    .southsection{
        top: -300px;
        right: -110px;
    }
}

@media screen and (min-width: 800px) {
    .eastsection {
        top: -550px;
        right: -200px;
    }
    
    .southsection{
        top: -300px;
        right: -140px;
    }

}


@media screen and (min-width: 900px) {
    .spotlink {
        width: 300px;
        height: 300px;
    }

    .eastsection {
        top: -600px;
        right: -15%;
    }
    .eastland{
        top: -50px;
        left: -200px;
    }
    .southland{
        width: 100px;
        height: 30px;
        font-size: 1rem;
        left: -250px;
        top: 100px;
    }
    .eastborder{
        right: 30px;
        top: 30px;
    }
    .southborder {
        right: 90px;
        top: 130px;
    }
    .eastcircle{
        top: 0px;
        right: -200px;
    }
    
    .southcircle {
        top: 95px;
        right: -100px ;
    }
}

@media screen and (min-width: 1000px) {
    .spotlink {
        width: 330px;
        height: 330px;
    }

    .eastsection {
        position: relative;
        top: -700px;
        right: -300px;
    }

    .southsection {
        position: relative;
        top: -400px;
        right: -200px;
    }
    .eastland{
        top: -15px;
        left: -250px;
    }
    .southland{
        width: 100px;
        height: 30px;
        left: -350px;
        top: 100px;
    }
    .eastborder{
        width: 150px;
        right: 30px;
        top: 30px;
    }
    .southborder {
        width: 150px;
        right: 120px;
        top: 150px;
    }
}




.spot__bottom{
    background-color: #30ADD1;
}




.plantitle , .fishtitle{
    color: #fff;
    -webkit-text-stroke: 0px;
}

.plansection , .fishsection{
    background-color: #30ADD1;
    /* position: relative; */
    height: auto;
    margin: 0 a;
    padding: 0 20px 50px 20px;
}
.planbottom{
    border-color: #fff;
}
.plansection__block {
    width: 500px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    transform: scale(0.6) translateX(-25%);
}



.bubble{
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
            }

    @keyframes bubbleanime1 {
        0% {
            transform: translateY(0) ;
            }

        100% {
            transform: translateY(20%);
            }
}
.plansection__flexblock{
    position: relative;
}
.leftbabble ,
.rightbabble{
    animation: bubbleanime1 5s none infinite ease-in-out 0s alternate;
    position: absolute;
}
.leftbabble{
    left: 10%;
    top: 50px;
}
.rightbabble{
    right: 10%;
    top: 400px;
}

.left2{
    top: 900px;
}
.right2 {
    right: 10%;
    top: 1000px;
}

.l-large{
    width: 70px;
    height: 70px;
    left: 5%;
    top: 30px;
}
.l-middle {
    width: 50px;
    height: 50px;
    left: 8%;
    top:20px;
}
.l-small {
    width: 35px;
    height: 35px;
    left: 7%;
    top: 10px;
}
.r-large {
    width: 70px;
    height: 70px;
    left: 5%;
    top: 30px;
}

.r-middle {
    width: 50px;
    height: 50px;
    left: 40%;
    top: 5px;
}

.r-small {
    width: 35px;
    height: 35px;
    left: 25%;
    top: -5px;
}

.planimg{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
}
.plan1 > img{
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.plan1 > p {
    color: #FFEA20;
    position: absolute;
    width: 500px;
    height: 500px;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    top: 50px;
    left: 50%;
}
@media screen and (min-width: 450px) {
    .plansection__block{
        transform: scale(0.62) translateX(-15%);
    }
}
@media screen and (min-width: 500px) {
    .plansection__block{
        transform: scale(0.65) translateX(-10%);
    }
}
@media screen and (min-width: 550px) {
    .plansection__block{
        transform: scale(0.7) translateX(0);
    }
}
@media screen and (min-width: 600px) {
    .plansection__block{
        transform: scale(0.8) translateX(0);
    }
}
@media screen and (min-width: 700px) {
    .plansection__block{
        transform: scale(0.9) translateX(0);
    }
}
@media screen and (min-width: 800px) {
    .plansection__block{
        transform: scale(1) translateX(0);
    }
}


@media screen and (min-width: 1080px) {
    .plan1{
        left: 150px;
    }
    .plan2 {
        top: -100px;
        left: -250px;
    }
    .plan3 {
        top: -350px;
        right: -60%;
        margin: -100px;
    }
    .plansection {
    height: 1300px;
    }

    .morelook {
        position: relative;
        top: -300px;
    }
    .leftbabble {
        left: 20%;
        top: 150px;
    }

    .left2 {
        left: 15%;
        top: 900px;
    }
}

@media screen and (min-width: 1200px) {
    .plan1 {
        left: 100px;
    }

    .plan2 {
        top: -100px;
        left: -250px;
    }


    .plansection{
        height: 1300px;
    }
    .morelook{
        position: relative;
        top: -300px;
    }
    .leftbabble {
        left: 20%;
        top: 150px;
    }
        .left2{
        left: 15%;
        top: 900px;
    }
}


.plan2>img {
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.plan2>p {
    color: #FFEA20;
    position: absolute;
    width: 500px;
    height: 500px;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    top: 50px;
    left: 50%;

}
.plan3>img {
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.plan3>p {
    color: #FFEA20;
    position: absolute;
    width: 500px;
    height: 500px;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    top: 50px;
    left: 50%;

}

.fontrotate{
        animation:fontrotate;
        animation-fill-mode: none;
        /* アニメーションの通常状態 */
        animation-duration: 10s;
        /* 1 回のアニメーションサイクルに要する時間の長さ */
        animation-iteration-count: infinite;
        /* アニメーションの再生回数 */
        animation-timing-function: linear;
        /* アニメーションの種類 */
        animation-delay: 0s;
        /* アニメーションの遅延 */
        animation-direction: normal;
        /* アニメーション再生の向き */
    }
@keyframes fontrotate {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-50%) rotate(360deg);
    }
}


.circle-text > span {
    position: absolute;
    left: calc(50% - 1.5rem);
    display: inline-block;
    width: 2rem;
    height: 300px;
    transform-origin: center 80%;
}



.circle-text span:nth-child(1) {
    transform: rotate(-80deg);
}
.circle-text span:nth-child(2) {
    transform: rotate(-70deg);
}
.circle-text span:nth-child(3) {
    transform: rotate(-60deg);
}
.circle-text span:nth-child(4) {
    transform: rotate(-50deg);
}
.circle-text span:nth-child(5) {
    transform: rotate(-40deg);
}
.circle-text span:nth-child(6) {
    transform: rotate(-30deg);
}
.circle-text span:nth-child(7) {
    transform: rotate(-20deg);
}
.circle-text span:nth-child(8) {
    transform: rotate(-10deg);
}
.circle-text span:nth-child(9) {
    transform: rotate(0deg);
}
.circle-text span:nth-child(10) {
    transform: rotate(10deg);
}
.circle-text span:nth-child(11) {
    transform: rotate(20deg);
}
.circle-text span:nth-child(12) {
    transform: rotate(30deg);
}
.circle-text span:nth-child(13) {
    transform: rotate(40deg);
}
.circle-text span:nth-child(14) {
    transform: rotate(50deg);
}
.circle-text span:nth-child(15) {
    transform: rotate(60deg);
}
.circle-text span:nth-child(16) {
    transform: rotate(70deg);
}
.circle-text span:nth-child(17) {
    transform: rotate(80deg);
}


.morelook{
    height: 50px;
    width: 160px;
    margin: 100px auto;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.morelook:hover {
    background-color: #30ADD1;
    color: #ffea20;
    box-shadow: none;
    transform: translate(1px, 1px);
}

@keyframes infinity-scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}
@keyframes infinity-scroll-left2 {
    from {
        transform: translateX(5%);
    }

    to {
        transform: translateX(-95%);
    }
}

/*
IE11対策
----------------------------*/
_:-ms-lang(x)::-ms-backdrop,
.d-demo {
    display: -ms-grid;
    overflow: hidden;
}

/*----------------------------*/

.d-demo__wrap {
    display: flex;
    overflow: hidden;
}

.d-demo__list {
    display: flex;
    list-style: none;
}

.d-demo__list--left {
    animation: infinity-scroll-left 95s infinite linear 0.5s both;
}
.d-demo__list--left2{
    animation: infinity-scroll-left2 95s infinite linear 0.5s both;
}

.d-demo__item {
    width: calc(100vw / 2);
}

.fishsection{
    padding: 0;
}
.fishsection__box{
overflow: hidden;
}

.fishimgblock{
    max-width: calc(width / 2);
    max-height: 250px;
}

.arrow_box {
    position: relative;
    width: calc(100vw / 2);
    height: 10vmin;
    background: #FFFFFF;
    padding:10px 10px;
    /* padding-top: 25px; */
    text-align: center;
    color: #000000;
    font-size: 4px;
    border-radius: 50%;
    overflow: visible;
}

@media screen and (min-width: 500px) {
    .arrow_box {padding-top: 18px;}
}
@media screen and (min-width: 600px) {
    .arrow_box {
        padding-top: 20px;
        font-size: 0.5rem;
    }
}
@media screen and (min-width: 700px) {
    .arrow_box {
        width: calc(100vw / 4);
        padding-top: 20px;
        height: 60px;
    }
    .fishimgblock{
        max-width: calc(width / 4);
    }
    .d-demo__item {
        width: calc(100vw / 4);
    }
}
@media screen and (min-width: 700px) {
    .arrow_box {
        font-size: 0.75rem;
    }
}

@media screen and (min-width: 1080px) {
    .arrow_box {
        font-size: 1rem;
    }
}
@media screen and (min-width: 1080px) {   
    .arrow_box {
        width: 200px;
        padding-top: 20px;
        height: 60px;
    }
    .fishimgblock{
        max-width: calc(width / 4);
    }
    .d-demo__item {
        width: calc(100vw / 4);
    }
}

.arrow_box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(255, 255, 255, 0);
    border-top-width: 110px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-right-width: 20px;
    border-bottom-color: #FFFFFF;
    bottom: 10%;
    left: 70%;
}


.infomation__block{
    margin-top: 50px;
    border: solid 5px #30ADD1;
    border-radius: 50px;
    padding: 20px;
    margin: 50px;
}
.infomation__border{
    border: #30ADD1 dashed 2px ;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info__day{
    margin: 0 30px;
}

.infobtn{
    margin: 20px auto 0px;
    width: 160px;
    height: 50px;
}
