@charset "utf-8";

.keyvisual {

    background-image: url(../images/knowledge_keyvisual_sp.jpg);
    max-width: 100vw;
    background-position: bottom;
}

@media screen and (min-width: 600px) {
    .keyvisual {
        background-image: url(../images/knowledge_keyvisual.jpg);
        background-size:cover;
        background-position: center;
    }
}

/*タブ切り替え全体のスタイル*/
.tabs {
    margin-top: 50px;
    padding-top: 0;
    padding-bottom: 40px;
    width: 100%;
    margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
    width: calc(100%/4);
    height: 50px;
    border-bottom: 3px solid #30ADD1;
    border-right: 5px solid #EAF2FA ;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #51656F;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}

.tab_item:hover {
    opacity: 0.75;
}

.title__icon{
    display: inline-block;
    width: 100%;
    height: auto;
    position: relative;
}
.title__icon::before {
display: none;
}
@media screen and (min-width: 700px) {
    .title__icon::before {
        display: block;
        content: url(../images/jelfish.png);
        transform: scale(0.5);
        width: 30px;
        height: 30px;
        position: absolute;
        left: 10%;
        top: 6px;
    }
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
    display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
    width: 100%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 10px 10px;
    clear: both;
    overflow: hidden;
    margin: 0 auto;
        padding: 50px 20px ;
}



#all_content{
    display: block;
}



.card__area{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 900px){
    .card__area {
        flex-direction: row;
        justify-content: space-around;
    }
}
@media screen and (min-width: 1120px) {
        .card__area {
            padding-left: calc(100% - 1120px);
            justify-content: start;
        }
}
.card__p{
    margin: 20px;
    padding: 0;
}

.firstsection__bottom{
    margin-bottom: 120px;
}

.panel {
    /* display: none; */
    text-align: center;
}


.tab-area {
    padding: 0 50px;
    margin-top: 50px;
    justify-content: space-around;
}
.tab {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    background: #fff;
    border: solid 3px #30ADD1;
    color: #30ADD1;
    font-weight: bold;
    transition: all 0.15s linear;

}
@media screen and (min-width: 600px){
    .tab-area{
        justify-content: start;
    }
    .tab{
        margin-right: 150px;
    }
}


.tab:hover{
    cursor: pointer;
}

.active1 {
    background-color: #30ADD1;
    color: #fff;
}

/*liにactiveクラスがついた時の形状*/
.active {
    background-color: #30ADD1;
    color: #fff;
}
