.knowledge__image{
    width: 100%;
    height: 30%;
}

.knowledge__section{
    padding: 50px;
    height: auto;
    background-color: #fff;
}

section__box--title{
    margin: 30px;
}

.knowledge__discription{
    display: inline-block;
    text-align: start;
    color: #51656F;
    margin-top: 20px;
}

.firstsection{
    background-color: #30ADD1;
}

.firstsection__bottom{
    background-image: url(../images/svg/wave__sectionbottom_knowledge.svg);
    margin-bottom: 120px;
}

.card__area {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 960px) {
    .card__area {
        justify-content: space-between;
    }
}

.sidemenu__top {
    width: 100%;
    height: 120px;
    background-image: url(../images/svg/wave__connectiontop.svg);
    background-repeat: repeat-x;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: xxxpx) {
.sidemenu__top{
    background-image: none;
}
}

.btn{
    width: 200px;
}

.sidemenu{
    padding: 20px;
    background-color: #EAF2FA;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sidemenu__block:first-child{
    margin-bottom: 20px;
}

.sidemenu__block{
    flex-wrap: wrap;
    justify-content: space-around;
}
