@charset "utf-8";

/* 砂浜避けるレイアウト */
.form__section {
    padding-top: 100px;
}

/* サブビジュアル */
.keyvisual {
    background-image: url(../images/plan_keyvisual_sp.jpg);
    max-width: 100vw;
    height: 300px;
    background-position: center center;
    background-size: cover;
}

@media screen and (min-width: 600px) {
    .keyvisual {
        background-image: url(../images/plan_keyvisual.jpg);
        background-position: center center;
    }
}

.section__box--title {
    margin:20px auto 50px;
}


/* 検索画面 */
.search__box{
    padding: 0 20px;
}

/* 検索画面タイトル */
.form__box--title {
    background-color: #30add1;
    border-radius: 20px 20px 0px 0px;
    color: #fff;
    padding: 8px;
    font-size: 24px;
    margin: 0 0 20px;
}

/* 検索画面全体 */
.form__box {
    background-color: #fff;
    margin: 0 auto;
    border-radius: 20px;
}

/* 検索項目 */
/* 検索項目横並び */
.choice__box {
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
    border-bottom: dotted 2px #30add1;
}

/* 検索項目レイアウト */
.search__box--title {
    width: 100px;
    padding: 10px;
    font-size: 20px;
}

/* チェックボックス */
/* チェックボックス全体レイアウト */
.choice__box ul {
    margin: 0 auto;
    width: 80%;
    padding-bottom: 0px;
}

/* チェックボックス横並び */
.radio_box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* チェックボックス間レイアウト */
.choice__box ul li {
    margin: 0 auto;
    width: 100px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eaf2fa;
    border-radius: 20px;
}

/* ボタン */
/* ボタン、ボタン間レイアウト */
.result_btn__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

/* リセットボタン */
#reset_btn {
    background-color: #30add1;
    border-radius: 20px;
    color: #fff;
    padding: 10px;
    margin-right: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

/* 検索ボタン */
#search_btn {
    background-color: #ffea20;
    border-radius: 20px;
    padding: 10px;
    margin-left: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

/* ホバーしたらへこむ */
#reset_btn:hover, #search_btn:hover {
    box-shadow: none;
    transform: translate(1px, 1px);
}
