@charset "utf-8";

/* 砂浜避けるレイアウト */
.form__section {
    padding-top: 100px;
}


/* 検索画面 */

/* 検索画面タイトル */
.form__box--title {
    background-color: #30add1;
    border-radius: 20px 20px 0px 0px;
    color: #fff;
    padding: 8px;
    font-size: 24px;
    margin: 0px 0 20px 0;
}

/* 検索画面全体 */
.form__box {
    background-color: #fff;
    margin: 0 auto;
    border-radius: 20px;
}

/* 検索項目 */

/* 検索項目レイアウト */
.search__box--title {
    padding-top: 30px;
    padding-bottom: 10px;
}

/* チェックボックス */

/* チェックボックスレイアウト */
.choice__box ul {
    margin: 0 auto;
    padding-bottom: 20px;
}

/* チェックボックス間レイアウト */
.choice__box ul li {
    margin: 0 auto;
    max-width: 150px;
    margin-bottom: 24px;
    padding: 10px;
    background-color: #eaf2fa;
    border-radius: 20px;
}

/* ボタン */

/* ボタン、ボタン間レイアウト */
.result_btn__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

/* リセットボタン */
#reset_btn {
    background-color: #30add1;
    border-radius: 20px;
    color: #fff;
    padding: 10px;
    margin-right: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

/* 検索ボタン */
#search_btn {
    background-color: #ffea20;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

/* ホバーしたらへこむ */
#reset_btn:hover, #search_btn:hover {
    box-shadow: none;
    transform: translate(1px, 1px);
}


/* PC時 */
@media screen and (min-width:1025px) {
    /* 検索画面 */

    /* 検索項目レイアウト */
    .choice__box h3 {
        padding-left: 50px;
    }

    /* 検索項目横並び */
    .choice__box {
        display: flex;
    }
    /* チェックボックス横並び */
    .radio_box {
        display: flex;
    }
    /* チェックボックス全体レイアウト */
    .choice__box ul {
        padding-bottom: 0px
    }
    /* チェックボックス内レイアウト */
    .choice__box ul li {
        margin-top: 20px;
        margin: 20px 10px 10px 20px;
        padding: 10px 20px 10px 20px;
    }
}
