@charset "utf-8";

/* タイトル砂浜を避けるレイアウト */
.overview__section {
    padding-top: 100px;
    padding-bottom: 50px;
}

/* サブビジュアル */
.keyvisual {
    background-image: url(../images/plan_keyvisual_sp.jpg);
    max-width: 100vw;
    max-height: 600px;
    /* height: 300px; */
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 600px) {
    .keyvisual {
        background-image: url(../images/plan_keyvisual.jpg);
        height: 400px;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
    }

}

/* 画像 */

/* 貝（装飾） */
.detail__img--shell {
    /* display: flex;
    justify-content: center;
    padding: 70px;
    background-color: #EAF2FA; */

    /* 除ける */
    display: none;
}

/* 概要 */

/* 概要のテキストボックス */
.overview__box--group {
    width: 340px;
    height: 340px;
    border: 8px dashed #30ADD1;
    border-radius: 50%;
    margin: 50px auto;
    background-color: #fff;
}

/* 概要のテキストボックス内レイアウト */
.overview__box--group h3 {
    margin: 20px;
}

.overview__box--group p {
    margin: 0px 30px;
    text-align: left;
}

@media screen and (min-width: 440px) {
    .overview__box--group {
        width: 400px;
        height: 400px;
    }

    .overview__box--group h3 {
        margin: 40px;
    }

    .overview__box--group p {
        margin: 0px 30px;
    }
}

/* レイアウトのためブレイクポイント1100px */
@media screen and (min-width:1100px) {
    /* 画像と丸の並びフレックスが聞くようにマージンをなくす */
    .max-width-box {
        margin: 0;
    }
    /* 概要の画像とテキストボックスのレイアウト */
    .overview__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    /* 概要横並び時のテキストボックス外の余白 */
    .overview__box--group {
        margin: 50px 0 50px 0;
    }
}

/* お気に入りボタン */
.favorite{
    display: inline-block;;
    background-color: #fff;
    padding: 10px;
    border:solid 1px #EF5DE9;
    border-radius: 30px;
    margin: 10px 0;
}

.favorite__in{
    background-color: #EF5DE9;
    color: #fff;
}

/* テーブルの大きさ */
.table__title, .table {
    max-width: 100%;
}

.table td {
    text-align: left;
    padding-left: 30px;
}

/* 詳細誘導テキスト */
.to-details {
    color: #000;
    background-color: #EAF2FA;
    margin-top: 70px;
    margin-bottom: 50px;
}

/* フロー */

/* フローのタイトル枠 */
.flow__section h2 {
    margin: 0px;
    border: 1px solid #fff;
    margin-bottom: 50px;
}

/* フローの画像とテキストボックス間レイアウト */
/* PC時 */

@media screen and (min-width:1025px) {
    .flow__box {
        display: flex;
        padding-bottom: 50px;
        /* 真ん中に線付けるならgapいらない */
        gap: 40px;
    }
}

/* フローのテキストボックス */
.flow__box--text {
    margin: 50px auto;
    background-color: #eaf2fa;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

/* モバイル時は出さない */
.anchor--text {
        display: none;
    }


/* 横並びになると横幅固定 */
@media screen and (min-width: 1025px) {
    .flow__box--text {
        width: 559px;
    }

    .flow__box {
        background-image: url(../images/bgline.png);
        background-repeat: repeat-y;
        background-position: center;
    }

    .flow__bg {
        background-image: url(../images/anchor.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 40px 40px;
    }

    .anchor--text {
        display: block;
        color: #fff;
        padding: 20px;
        font-size: 20px;
        display: block;
    }
}


/* フローのテキストボックス内レイアウト */
.flow__box--text h3 {
    padding-top: 20px;
}
.flow__box--text p {
    text-align: left;
    padding: 20px;
}

/* 背景が途切れないために最後のフローだけマージンを無くす */
.last__flow {
    margin-bottom: 0;
}

@media screen and (min-width: 1025px) {
    .last__flow {
        margin: 50px auto;
    }
}

/* フローの三角 */
.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    border-top: 43px solid #eaf2fa;
    border-bottom: 0;
    margin: 40px auto;
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.4));
}

/* PC時 */
@media screen and (min-width:1025px) {
    /* フローの三角を消す */
    .triangle {
        display: none;
    }
}

/* スポット一覧ボタン */
.btn {
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
    margin: 50px auto 0px;
    transition: 0.5s;
}

.btn {
    font-size: 16px;
    height: 50px;
}

.btn:hover {
    background-color: #30ADD1;
    color: #ffea20;
    box-shadow: none;
    transform: translate(1px, 1px);
}
