@charset "utf-8";

/* search,info共通ルール */

/* 背景色の指定 */

/* 浅瀬背景色 */
.shallow {
    background-color: #EAF2FA;
}

/* 海背景色 */
.sea {
    background-color: #30ADD1;
}

/* 海のセクション区切り */

/* セクション上側 */
.secondsection__top {
    width: 100vw;
    height: 160px;
    background-image: url(../images/svg/wave__sectionbottom__second.svg);
    background-repeat: repeat-x;
    justify-content: center;
    align-items: center;
    transform: scale(1, -1);
    margin-top: 50px;
}

/* セクション下側 */
.secondsection__bottom {
    width: 100vw;
    height: 100px;
    background-image: url(../images/svg/wave__sectionbottom__second.svg);
    background-repeat: repeat-x;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-position: bottom;
}

/* フッターまでの余白 */

.result__section, .card__section {
    padding-bottom: 120px;
}

/* 画像 */

/* 画像共通 */
.max-width-box {
    max-width: 559px;
    margin: 0 auto;
}


/* 難易度の☆ */
.star {
    width: 48px;
    height: 48px;
}


/* カード */

/* PC時 */
/* 体験プランは、他ページと違い3枚より多いカードが表示されるためグリッドレイアウト */
.card__area {
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
        margin: 0 auto;
    }

/* pading:50pxだとレイアウトが崩れるのでpdding:0px */
.card__p {
    padding: 0px;
}

/* プラン専用、難易度☆カード内レイアウト */
.card__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card__title {
    padding-bottom: 20px;
}

/* 地域のテキストの大きさ */
.card__flex p {
    font-size: 24px;
}
