@charset 'UTF-8';

.pagetitle {
    font-size: 1.5rem;
    color: #30ADD1;
    -webkit-text-stroke: 0px;
    width: 250px;
    white-space: normal;
    word-wrap: break-word;
    /* height: 150px; */
}
@media screen and (min-width: 768px) {
    .pagetitle {
        width: auto;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 900;
        color: #fff;
        -webkit-text-stroke: 2px #30ADD1;
        padding-top: 45px;
        white-space: normal;
        word-wrap: break-word;
    }
}

/* サブビジュアル */
.keyvisual {
    background-image: url(../images/other_keyvisual_sp.jpg);
    max-width: 100vw;
    background-color: #888;
}

@media screen and (min-width: 600px) {
    .keyvisual {
        background-image: url(../images/other_keyvisual.jpg);
    }
}

.section{
    width: 100vw;
    background-color: #EAF2FA;

}
.privacy__section{
    max-width: 1200px;
    width: 95%;
    background-color: #fff;
    margin: 0 auto;
}
.privacy-wrap p{
    padding: 0 50px;
    text-align: start;
}

.section-ttl{
    padding-top: 50px;
}


h3.privacy-title {
    max-width: 1200px;
    background-color: #30ADD1;
    border-radius: 30px;
    color: #fff;
    padding: 8px;
    font-size: 24px;
    margin: 100px auto 50px;
}

p.privacy-text {
    padding-bottom: 30px;
}

.privacy-text:last-child{
    padding-bottom: 100px;
}
