@charset "utf-8";

body {
    color: #51656F;
    /* background-color: #EAF2FA; */
}

img {
    max-width: 100%;
    height: auto;
}

/* main {
    max-width: 1200px;
    margin: 0 auto;
}

.wrap {
    margin: 0 20px;
} */

.calendar__section {
    background-color: #EAF2FA;
}

.calendar__box {
    padding-top: 100px;
}

.calendar__section {
    width: 100%;
    background-size: 20px 20px;
    position: relative;
    padding: 80px;
}

/* calendar__box--search横並び */
.calendar__box--text {
    display: flex;
    text-align: center;
    background-color: #fff;
    line-height: 35px;
    border-radius: 31% 69% 57% 43% / 49% 52% 48% 51%;
    width: 70vw;
    height: fit-content;
    margin: 0 auto 20px;
    padding: 50px;
}

/* PC */
@media screen and (min-width: 1080px) {
    .calendar__box {
        display: flex;
        justify-content: center;
    }

    .calendar__box--text {
        width: 40vw;
    }

    .calendar__box--text {
        width: 500px;
        /* display: grid;
        gap: 3%;
        grid-template-columns: 1fr 1.5fr; */
        justify-content: center;
        padding: 20px 20px;
        position: static;
        margin: 0 auto;
    }


}

/* table */
.calendar-tb {
    margin: 0 auto;
}

/* 月ボタンgrid */
tr {
    display: grid;
    gap: 1%;
    grid-template-columns: repeat(4, minmax(71px, 1fr));
}

/* 月ボタン */
.secList {
    width: 76px;
    height: 76px;
    background-color: #FFEA20;
    border-style: outset;
    border-radius: 20px;
    margin: 10px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* 月ボタンホバー */
.secList:hover {
    background-color: #247F99;
    color: #fff;
}

/* PC */
@media(min-width:1080px) {
    .calendar-tb {
        margin: auto 0;
    }

    tr {
        grid-template-columns: repeat(6, minmax(76px, 1fr));
    }

}


/* セクションタイトル (h2)*/
.results__box--title,
.others__box--title {
    background-color: #30ADD1;
    border-radius: 30px;
    color: #fff;
    padding: 8px;
    font-size: 24px;
    margin: 100px 0 50px 0;
}


/* 検索結果 */

.results__box--info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

.results__box--info li {
    margin-top: 30px;
}

/* PC */
@media(min-width:1080px) {
    .results__box--info {
        width: 850px;
        margin: 0 auto;
        gap: 14%;
    }


    .tokushimafish__box--group img {
        width: 200px;
        height: 200px;
        gap: 14%;
    }
}



/* h3 */

h3 {
    font-size: 24px;
    padding: 20px;
}




/* 釣れる魚の画像 */
.fish__img {
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}

/*その他海産物 */

.others__box--info li {
    margin: 25px;
}

.others__box--info img {
    border-radius: 10px;
    object-fit: cover;
}

.feed {
    display: flex;
    padding: 0 50px;
    margin: 20px;
    border: 2px dotted #30ADD1;
    border-radius: 30px;
    justify-content: center;
}

/* PC */
@media screen and (min-width: 1080px) {

    .others__box--info li {
        display: flex;
        justify-content: center;
    }

    .feed {
        width: 500px;
        border: 2px dotted #30ADD1;
        border-radius: 30px;
        justify-content: center;
    }

    .description__box {
        width: 500px;
        height: auto;
        margin: 0 0 0 40px;
    }
}
