@charset "utf-8";

.keyvisual {
    background-image: url(../images/fish_keyvisual_sp.jpg);
    max-width: 100vw;
    max-height: 400px;
    /* height: 300px; */
    background-color: #888;
}

@media screen and (min-width: 600px) {
    .keyvisual {
        background-image: url(../images/fish_keyvisual.jpg);
    }
}

.calendar__section {
    padding: 50px 0 0 0;
    background-color: #EAF2FA;
}

.calendar__title {
    font-size: 1.5rem;
}

.calendar__box {

    padding: 50px 0 50px 0;
}

/* calendar__box--search横並び */
.calendar__box--text {
    display: flex;
    text-align: center;
    background-color: #fff;
    line-height: 35px;
    border-radius: 48% 52% 59% 41% / 49% 63% 37% 51%;
    width: 100%;
    height: fit-content;
    padding: 20px 20px 70px 20px;
    margin: 0 auto;
    flex-direction: column;
}


/* PC */
@media screen and (min-width: 1080px) {


    .calendar__box {
        display: flex;
        justify-content: center;

    }

    .calendar__box--text {
        max-width: 35vw;
    }

    .calendar__box--text {
        max-width: 500px;
        border-radius: 31% 69% 57% 43% / 49% 52% 48% 51%;
        position: static;
        margin: 0 auto;
    }


}

/* カレンダー検索 */
.calendar-tb {
    margin: 0 auto;
}

/* 月ボタンgrid */
tr {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(30px, 1fr));
}

/* 月ボタン */
.secList {
    width: 76px;
    height: 76px;
    background-color: #FFEA20;
    border-style: outset;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/* 月ボタンホバー */
.secList:hover {
    background-color: #247F99;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
}

@media(max-width:420px) {
    tr {
        /* gap: 5%; */
        grid-template-columns: repeat(4, minmax(30px, 1fr));
        column-gap: 5px;
        row-gap: 20px;
        justify-items: center;
        align-items: center;
    }
}



/* PC */
@media(min-width:1080px) {
    .calendar-tb {
        margin: auto 0;
    }

    tr {
        grid-template-columns: repeat(6, minmax(76px, 1fr));
    }

}


/* セクションタイトル (h2)*/
.results__box--title {
    background-color: #30ADD1;
    border: 3px solid #fff;
    border-radius: 30px;
    color: #fff;
    padding: 8px;
    font-size: 24px;
    margin: 0 0 50px 0;
}

.others__box--title {
    background-color: #30ADD1;
    border-radius: 30px;
    color: #fff;
    padding: 8px;
    font-size: 24px;
    margin: 0 0 50px 0;
}


/* 検索結果 */

.results__section {
    background-color: #30ADD1;
}

.results__box--title {
    max-width: 1200px;
    margin: 0 auto;
}

.results__box--info {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    flex-direction: column;
    gap: 5%;
}

.results__box--info li {
    margin-top: 30px;
}

/* PC */
@media(min-width:1080px) {
    .results__box--info {
        width: 850px;
        margin: 0 auto;
        flex-direction: row;
        gap: 14%;
    }

    .results__box--info li:nth-child(4) {
        width: auto;
        flex-grow: 1;
    }

    .results__box--info li:nth-child(5) {
        width: auto;
        flex-grow: 1;
    }

    .tokushimafish__box--group img {
        width: 200px;
        height: 200px;
        gap: 14%;
    }
}



/* h3 */

h3 {
    font-size: 24px;
    padding: 20px;
}




/* 釣れる魚の画像 */
.fish__img {
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}

/*その他海産物 */

.others__section {
    padding: 100px 0 100px 0;
}

.others__box--info li {
    margin: 25px;
}

.others__box--info img {
    border-radius: 10px;
    object-fit: cover;
}

.feed {
    display: flex;
    padding: 0 50px;
    margin: 20px;
    border: 2px dotted #30ADD1;
    border-radius: 30px;
    justify-content: center;
}

/* PC */
@media screen and (min-width: 1080px) {

    .others__box--info li {
        display: flex;
        justify-content: center;
    }

    .feed {
        width: 500px;
        border: 2px dotted #30ADD1;
        border-radius: 30px;
        justify-content: center;
    }

    .description__box {
        width: 500px;
        height: auto;
        margin: 0 0 0 40px;
    }
}

/* 背景 波 */
.firstsection__bottom {
    width: 100vw;
    height: 160px;
    background-image: url(../images/svg/wave__sectionbottom__second.svg);
    background-repeat: repeat-x;
    justify-content: center;
    align-items: center;
    transform: scaleY(-1);
}

.firstsection__bottom--under {
    width: 100vw;
    height: 160px;
    background-image: url(../images/svg/wave__sectionbottom__second.svg);
    background-repeat: repeat-x;
    justify-content: center;
    align-items: center;
}
