@charset "utf-8";
.keyvisual{
    height: 300px;
    background-image: url(../images/shop_keyvisual_sp.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width:600px) {
    .keyvisual{
        background-image: url(../images/shop_keyvisual.jpg);
        background-position: 50% 100%;
    }
}

.shallow{
    background-color:#EAF2FA;
}

.hamburger{
    box-shadow: none;
}

.shallow{
    padding-top: 50px;
}

/* 東西南北ボタン */
.tab_item{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    display: flex;
    width: 130px;
    height: 80px;
    background-color: #FFEA20;
    font-size: 1.5rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.tab_item:hover {
    background-color: #30ADD1;
    color: #ffea20;
}

.section__btn {
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto 50px;
}

@media screen and (min-width:470px) {
    .tab_item{
        width: 160px;
    }
}

@media screen and (min-width:560px) and (max-width:739px) {
    .tab_item{
        width: 110px;
    }
}

/* タブメニューがクリックされた後のスタイル */
.active2{
    color: #ffea20;
    background-color: #30ADD1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4) inset;
}

.section__box--title{
    margin-top: 0;
}

.section__content {
    line-height: 2.5;
}

.section__content--title {
    font-size: 24px;
    font-weight: bold;
}

.section__content--left {
    text-align: justify;
}

.section__content--photomaxwidth {
    max-width:559px;
    margin: 0 auto;
}

.section__content--photo {
    width: 100%;
    border-radius: 30px;
}

.section__content--dayleft:nth-of-type(1) {
    margin-top: 4.5px;
}

.section__content--dayleft {
    text-align: justify;
    margin-left: 25.5px;
}

/* 店舗の一覧 */
.shop__content--p{
    padding-bottom: 50px;
}

.shop__content{
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: dotted 3px #30ADD1;
}

.section__image--location::before,
.section__image--open::before,
.section__image--number::before,
.section__image--address::before,
.section__image--homepage::before {
    content: "";
    display: inline-block;
    width: 23px;
    height: 23px;
    margin-left: -0.75px;
    margin-right: 3.75px;
    background-size: contain;
    vertical-align: middle;
}

.section__image--location::before {
    background-image: url(../images/location.png);
}

.section__image--open::before {
    background-image: url(../images/open.png);
}

.section__image--number::before {
    background-image: url(../images/number.png);
    margin-left: -1.75px;
    margin-right: 5.25px;
}

.section__image--address::before {
    background-image: url(../images/address.png);
    width: 20px;
    height: 20px;
    margin-right: 7.25px;
}

.section__image--homepage::before {
    background-image: url(../images/homepage.png);
    width: 20px;
    height: 20px;
    margin-right: 7.25px;
}

.shop__content--title{
    padding: 20px 0 5px;
    font-size: 20px;
}

.shop__description--service {
    padding: 10px;
    text-align: left;
    background: #FFF;
    border: solid 3px #30ADD1;
    border-radius: 10px;
}

.shop__description--message {
    padding: 10px;
    text-align: left;
    background: #FFF;
    border: solid 3px #30ADD1;
    border-radius: 10px;
}

.shop__description p {
    margin: 0;
    padding: 10px;
    line-height: 1.5;
}

.section__content--information {
    text-align: justify;
    margin: 20px 0 0 20px;
}

.section__wrap--infomation {
    width: 100%;
    padding-bottom: 30px;
}

.map{
    border-top: 5px solid #ffea20;
    border-right: 5px solid #ffea20;
    border-bottom: 5px solid #30ADD1;
    border-left: 5px solid #30ADD1;
}

.shop__table tr,th {
    /* padding:5px 10px; */
    border-bottom: solid 1px #51656F;
}

.shop__table td{
    display: block;
    padding: 0 10px;
}

@media screen and (min-width:500px) {
    .shop__table td{
        display: table-cell;
    }
}

.shop__table {
    width: 100%;
    border-radius: 10px;
}

@media screen and (min-width: 1080px) {
    .shop__table {
        width: 500px;
    }

.shop__table th{
    font-size: 20px;
}
}

@media screen and (max-width: 606px) {
    .tab__item {
        display: flex;
        justify-content: center;
    }

    .tab__item:nth-of-type(2),
    .tab__item:nth-of-type(3),
    .tab__item:nth-of-type(4) {
        margin-top: -25px;
    }
}

@media screen and (min-width: 600px) {

    .shop__description br {
        display: none;
}

    .shop__description--breakpoint {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .btn {
        width: calc(100vw / 5);
    }
}

@media screen and (min-width: 1080px) {
    .section__content--displayflex {
        display: flex;
        justify-content: space-around;
        gap: 20px;
    }
    .section__content--photomaxwidth{
        margin: 0;
    }
}

@media screen and (min-width: 1080px) {
    .section__content {
        line-height: 2.5;
    }

    .section__content--topmessage {
        margin-top: 0;
    }

    .shop__description--service, .shop__description--message{
        width: 500px
    }
}
