@charset "utf-8";

.btn:hover {
    background-color: #30ADD1;
}

.section__btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px auto;
}

.section__content--titlereserch {
    background-color: #30ADD1;
    border-radius: 30px;
    color: #fff;
    padding: 8px;
    font-size: 24px;
    margin: 50px 20px;
}

.section__content {
    line-height: 2.5;
}

.section__content--full {
    margin-top: 60px;
}

.section__content--title {
    font-size: 24px;
    font-weight: bold;
}

.section__content--top {
    margin-top: 20px;
}

/* .section__content--topmessage {
    margin-top: 20px;
} */

.section__content--left {
    text-align: justify;
    margin-left: 20px;
}

/* .section__btn--margin {
    margin: 0 40px;
} */

.section__content--photomaxwidth {
    max-width:559px;
}

.section__content--photo {
    margin: 0 auto;
}

.section__content--day {
    line-height: 1.5;
}

.section__content--dayleft:nth-of-type(1) {
    margin-top: 4.5px;
}

.section__content--dayleft {
    text-align: justify;
    margin-left: 25.5px;
}

.section__content--margin {
    margin: 0 20px;
}

.section__content--displayflex{
    align-items: start;

}

/* @media screen and (min-width: 600px) {
    .section__content--displayflex {
        display: flex;
    }

    .section__content--full {
        margin-left: 45px;
    }

    .section__content--displayblock {
        display: block;
    }
} */

.section__image--number {
     margin-top: 30px;
}

.section__image--location::before,
.section__image--open::before,
.section__image--number::before,
.section__image--address::before,
.section__image--homepage::before {
    content: "";
    display: inline-block;
    width: 23px;
    height: 23px;
    margin-left: -0.75px;
    margin-right: 3.75px;
    background-size: contain;
    vertical-align: middle;
}

.section__image--location::before {
    background-image: url(../images/location.png);
}

.section__image--open::before {
    background-image: url(../images/open.png);
}

.section__image--number::before {
    background-image: url(../images/number.png);
    margin-left: -1.75px;
    margin-right: 5.25px;
}

.section__image--address::before {
    background-image: url(../images/address.png);
    width: 20px;
    height: 20px;
    margin-right: 7.25px;
}

.section__image--homepage::before {
    background-image: url(../images/homepage.png);
    width: 20px;
    height: 20px;
    margin-right: 1.75px;
}

.section__image--homepage span {
    font-weight: bold;
    color: #30ADD1;
}

.section__image--service::before {
    background-image: url(../images/service.png);
    
}

.section__image--message::before {
    background-image: url(../images/message.png);
}

.section__image--information::before {
    background-image: url(../images/infomation.png);
}

.shop__description--service {
    padding: 0.6em 0;
    margin: 0.5em 0;
    text-align: left;
    /* font-weight: bold; */
    background: #FFF;
    border: solid 3px #30ADD1;
    border-radius: 10px;
}

.shop__description--message {
    padding: -0.5em 0;
    margin: 0.5em 0;
     text-align: left;
    /* font-weight: bold; */
    background: #FFF;
    border: solid 3px #30ADD1;
    border-radius: 10px;
}

.shop__description p {
    margin: 0; 
    padding: 10px;
    line-height: 1.5;
}

.shop__description--marginservice,
.shop__description--marginmessage {
    margin: 0; 
    padding: 10px;
    
}

.section__content--information {
    text-align: justify;
    margin: 20px 0 0 20px;
}

.section__wrap--infomation {
    margin: 10px 0 150px 0 ;
    position: relative;
    padding-top: 25%;
    width: 100%;
}

.section__map--information {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 貝や浮き輪の写真 */

.section__image--adjust {
    width: 60%;
    height: auto;
    margin: 0 auto;
}

@media screen and (min-width: 600px) {

    .shop__description br {
        display: none;
}

    .shop__description--breakpoint {
        display: none;
    }
}

@media screen and (min-width: 560px) and (max-width: 899px) {
    .section__content--photo {
        margin-left: 20px;
    }
}

@media screen and (max-width: 900px) {
    .btn {
        width: calc(100vw / 5);
    }
}

@media screen and (min-width: 900px) and (max-width: 1080px) {
    .section__content--displayflex {
        display: flex;
        justify-content: space-around;

    }
    /* .section__content--photo {
        margin-top: 40px;
    } */

    .section__content--full {
        margin-top: -26px;
    }
}

@media screen and (max-width: 1080px) {
    .flex__content {
        display: block;
    }

    .section__content--topmessage {
        margin-top: 20px;
    }
}

@media screen and (min-width: 1080px) {

    .section__content {
        margin-top: 20px;
        line-height: 2.5;
    }

    .section__content--photo {
        /* width: 559px;
        max-width: 559px;
        height: auto; */
        margin-left: 20px;
    }

    .section__content--displayflex {
        display: flex;
    }

    .section__content--top {
        margin-top: 60px;
    }

    .section__content--topmessage {
        margin-top: 0;
    }

    .section__content--full {
        margin-top: -25px;
        margin-left: 195px;
    }

    .section__content--displayblock {
        display: block;
    }

    .shop__description--marginservice { 
        padding: 15.5px;
    }

    .shop__description--marginmessage { 
        padding: 21.5px;
    }

    .shop__description--marginmessage:nth-last-of-type(1) { 
        padding-top: 22.625px;
    }

}


@media screen and (min-width: 1147px) and (max-width: 1197px) {
    .shop__description--marginmessage { 
        padding: 18.5px;
    }
}

@media screen and (min-width: 1197px) and (max-width: 1198px) {
    .shop__description--marginmessage:nth-last-of-type(1) { 
        padding-top: 4.975px;
    }
}

@media screen and (min-width: 1198px) and (max-width: 1200px) {
    .shop__description--marginmessage { 
        padding: 18.675px;
    }
}

@media screen and (min-width: 1200px)  {
    .shop__description--marginmessage { 
        padding: 18.905px;
    }

    .shop__description--marginmessage:nth-last-of-type(1) { 
        padding-top: 17.275px;
    }
}



