@charset "utf-8";

.sea{
    background-color: #30ADD1;
    padding: 50px 0;
}

.firstsection__bottom{
    background-color: #30ADD1;
}

/* スポット写真　slick */
.spotinfo__images{
    max-width: 559px;
    height:auto;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.spotinfo__img{
    width: 100%;
    border-radius: 30px;
}

.sub-img {
    display: flex;
    margin-top: 10px;
}

.sub-img li {
    margin-right: 2%;
    width: calc(96% / 3);
}


.sub-img img {
    cursor: pointer;
    border-radius: 10px;
    object-fit: cover;
}

/* 背景の白の丸は魚一覧ページと合わせる */
.spotinfo__discription{
    max-width: 559px;
    margin: 20px auto;
}

.spotinfo__dis--textbox{
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    padding: 50px 20px;
    border-radius: 50% 30% 50% 70%/50% 50% 70% 60%;
}

.spotinfo__dis--text{
    margin: 0 auto;
}

/* 狙える魚 */
.spotinfo__fish{
    max-width: 1200px;
    margin: 0 auto;
}

.spotinfo__fishes{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    margin: 0 auto 50px;
}

.spotinfo__fish--img{
    max-width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

}

.spotinfo__fish--img img{
 object-fit: cover;
 height: 150px;

}


/* 詳細情報table */
.spotinfo__table{
    /* padding-bottom: 50px; */
}

.spotinfo__table td:nth-child(1){
    width: 120px;
}

.spotinfo__table td:nth-child(2){
    text-align: start;
}

.spotinfo__iframe{
    max-width: 1200px;
    margin: 0 auto;
}

.googlemap{
    height: 300px;
    border: none;
}

.btn{
    font-size: 16px;
    height: 50px;
    margin: 0 auto;
}

/* お気に入りボタン */
.favorite{
    display: inline-block;;
    background-color: #fff;
    padding: 10px;
    border:solid 1px #EF5DE9;
    border-radius: 30px;
    margin: 10px 0;
}

.favorite__in{
    background-color: #EF5DE9;
    color: #fff;
}

@media screen and (min-width:1200px) {
    .container{
        display: flex;
        justify-content: space-around;
    }
}

h3[class*="spotinfo__sectiontitle"]{
    margin-top: 0;
}

.spotinfo__sectiontitle--fish{
    background-color: #fff;
    color: #30ADD1;
    margin: 0 auto 20px;
}

.spotinfo__shell{
    padding: 50px 0;
}

.btn{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    margin: 50px auto 120px;
    transition: 0.5s;
}

.btn:hover{
    background-color: #30ADD1;
    color: #ffea20;
    box-shadow: none;
    transform: translate(1px, 1px);
}

/* 周辺マップのアイコン */
.icon_list{
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.icon-p{
    padding: 5px;
    color: #fff;
}
